body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
}

.container {
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  background: white;
  width: 300px;
  border-radius: 10px;
}

#wordDisplay {
  font-size: 24px;
  letter-spacing: 2px;
}

#wrongLetters {
  color: red;
}

#message {
  margin-top: 20px;
  font-weight: bold;
}
